<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsirius.rbac.security.mapper.UserMapper">

    <sql id="BaseColumn">
      id, username, password, nickname, phone,
      email, birthday, sex, status, create_time, update_time
    </sql>

    <!-- 通过用户名查询用户 -->
    <select id="selectByUsername" parameterType="string" resultType="com.wsirius.rbac.security.entity.User">
        SELECT
        <include refid="BaseColumn"/>
        FROM sec_user
        WHERE username = #{username} OR phone = #{username}
    </select>

</mapper>