<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsirius.rbac.security.domain.mapper.UserRoleMapper">

<!--    @Results({-->
<!--    @Result(id=true, property = "id.postId", column = "post_id"),-->
<!--    @Result(id=true, property = "id.locationId", column = "location_id"),-->
<!--    //OTHER PROPERTIES...-->
<!--    })-->

<!--    <resultMap id="myClassResultMap" type="UserRole">-->
<!--        <constructor>-->
<!--            <idArg column="ID_COL_1" javaType="java.lang.Integer"/>-->
<!--            <idArg column="ID_COL_2" javaType="java.lang.Integer"/>-->
<!--        </contructor>-->
<!--        #<result property="other" column="OTHER_COL"/>-->
<!--    </resultMap>-->

<!--    <resultMap>-->
<!--&lt;!&ndash;        <id property="enterId" column="enter_id"/>&ndash;&gt;-->
<!--        <id property="sId" column="s_id"/>-->
<!--    </resultMap>-->

<!--    <resultMap type="XX" >-->
<!--        <id property="id" column="colid"/>-->

<!--        <id property="name" column="colname"/>-->

<!--        <collection property="list" javaType="ArrayList" column="{id = colid,name=colname}" select="getSubXXX"/>-->
<!--    </resultMap>-->

<!--    前為別名後為主查詢getXXX語句中欄位-->


    <resultMap id="userRoleMap" type="com.wsirius.rbac.security.domain.entity.UserRole">
        <id property="id.userId" column="user_id"/>
        <id property="id.roleId" column="role_id"/>
    </resultMap>

    <insert id ="insertUserRole" >
    INSERT  INTO sec_user_role (user_id, role_id)
    VALUES (#{userId}, #{roleId})
    </insert>

</mapper>